fastapi==0.115.0
uvicorn[standard]==0.30.6
anthropic
openai>=1.50.0
requests
Pillow
nanoid
python-multipart
aiofiles
certifi
websocket-client
rich
typer
httpx
aiohttp
python-socketio==5.11.3
pymediainfo
piexif
prometheus-client==0.21.0
python-json-logger==3.0.1
langchain-core==0.2.0
langchain==0.2.0
